@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

:root {
  --background-gradient: linear-gradient(135deg, #0f172a, #0f172a);
  --text-color: #ffffff;
}

html,
body {
  background: var(--background-gradient);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer base {
  /* Custom scrollbar styles for WebKit browsers */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #2d3748;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    border-radius: 4px;
    border: 2px solid #2d3748;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #718096;
  }

  /* Custom scrollbar styles for Firefox */
  html {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 #2d3748;
  }
}
